/* NavBar */
.bg-light {
    background-color: #ffffff00 !important;
    margin-bottom: 2em;
    border-bottom: solid 1px var(--text-color);
    padding: 2em 0em;
}

.menu { 
    justify-content: flex-end;
}

.collapse .navbar-nav {
    margin-right: 2em;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--accent-color);

}

.navbar-brand .logo {
    width: 50%;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active:hover  {
    color: var(--accent-color) !important;
}

.navbar-light .navbar-nav .nav-link:active {
    color: var(--accent-color);
}

.bellbtn, .userbtn {
    width: 55%;
    position: relative;
    bottom: 4px;
    left: 15px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0,0,0,.55) !important;
}

/* cool */



.navbar {
    justify-content: space-between !important;

}
.navbar-collapse {
    flex-grow: 0 !important;
}